<mat-card>
  <mat-card-content>
    <mat-card-actions class="actions-buttons" align="end" >
      <button mat-icon-button color="primary" (click)="likeComment()" matTooltip="Edit comment" *ngIf="showActionButton">
        <mat-icon aria-label="Edit">create</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="deleteComment()" matTooltip="Delete comment" *ngIf="showActionButton">
        <mat-icon  aria-label="Delete" >delete</mat-icon> 
      </button>
    </mat-card-actions>
  </mat-card-content> 
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()" matTooltip="{{listOfUsersCommentLikes}}">
      <mat-icon matBadge="{{likesCount}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likesCount === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()" matTooltip="{{listOfUsersCommentDislikes}}">
      <mat-icon matBadge="{{dislikesCount}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikesCount === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
